body {
    background-color: black;
  }
  
  h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
  }
  
  .bc {
    position: relative;
    left: 97px;
    bottom: 100px;
  }

  .computer1 {
    position: relative;
    left: 97px;
    bottom: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
  }